<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>user_mgm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_dao</display-name>
    <servlet-name>User_dao</servlet-name>
    <servlet-class>dao.User_dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_dao</servlet-name>
    <url-pattern>/User_dao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_info</display-name>
    <servlet-name>User_info</servlet-name>
    <servlet-class>model.User_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_info</servlet-name>
    <url-pattern>/User_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>main.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
</web-app>